*{
   margin:0px;
   padding:0px; 
    box-sizing: border-box;
}
/* Header section start */
header{
    width:100%;
    height:50px;
    color:#fff;
    background-color: rgb(23, 23, 66);
    display: flex;
    padding: 0px 100px;
    align-items: center;
    justify-content: space-between;
}
/* Header section end */
/* banner section start */

.banner{
    
    background-size: cover;
    width:100%;
    height:600px;
    color:#fff;
    display:flex;
    justify-content: space-between;
    padding:0px 100px;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(../img/industry.png);
    background-size: cover;
    
}
.banner h1{
    font-size:55px;
    font-weight: normal;
}
.banner h1 span{
    display:block;
    font-size: 77px;
    font-weight: 600;
}
.banner aside{
    padding:20px;
    border-radius: 7px;
    text-align: center;
    background-color:  rgb(23, 23, 66);  
 
}
table{
   border-spacing: 10px; 
}
.banner aside input[type],
.banner aside textarea,
.banner aside button
{
    width:100%;
    height:40px;
    margin:7px;
}
/* banner section end*/
 
/* our feature section start */
.feature{
    width:100%;
    height:auto;
    display: flex;
    justify-content:space-between;
    color:rgb(37, 54, 124);
    padding:60px 50px;
   
}
.feature div{
    width: 25%;
    height:400;
}
.feature div h2{
  font-size: 30px;
  margin-bottom: 7px;  
}
.feature div img{
    width:300px;
    height:250px;
}
.feature div p{
    margin-top:5px;
    text-align:justify;
    font-size: 15px;
}
/* our feature section start */
/* About us section start */
.about{
    width:100%;
    height: auto;
    color:#fff;
    text-align:center;
    padding : 50px 300px;
    background:#022D7C;
}
.about h2{
    margin:7px;
    font-weight: 33px;
}  
.about p{
    font-size: 15px;
font-weight: normal;
}          
.about button{
    background:#022D7C;
    color:#fff;
    border:2px solid #fff;
    font-weight: bold;
    padding:10px 100px;
    margin-top:10px;
    border-radius: 3px;
    
}
/* About us section end *
/* service secton start */
.service{
    width:100%;
    height:auto;
    padding:0px 100px;
}
.service .upper,.service .lower{
    display:flex;
    align-items: center;
    color:#022D7C;
    font-size:large;
}
.service .image, .service .content{
    width:50%;
}
.service .image img{
    width:525px;
}
h3{
    color:black;
    font-size: xx-large;
}




/* service secton start */